<?xml version="1.0" encoding="UTF-8" ?>
<wicket:extend xmlns:wicket="http://wicket.apache.org">

<h3><span>Welcome!</span></h3>
    <div class="box">
        <p>Lorem ipsum dolor sit amet, mel agam dicta facilisi ut, erat tamquam eu vix, porro facilisis est ea. At viderer deseruisse definitionem sit, elitr docendi convenire quo at. Ne mea erant affert, mei graece repudiandae ei, eu veri nostrud nominati vim. Ei luptatum gubergren mea.</p>
        <p>Nisl labore has te, quis adipiscing pro cu. Integre dolorum sensibus te mei, cu putent propriae has. Eam no commodo salutandi scripserit. Cu nam nullam alienum, ceteros platonem an sed. At eos facilis hendrerit philosophia.</p>
        <p>Vis nominavi assueverit temporibus eu. Rebum debitis fierent et eam, ius an lorem quaeque dolorem, nam te legere quaeque civibus. Graece quaestio mei no. Nec debet iuvaret euismod te, mucius verterem legendos et sea, invenire cotidieque vel in. Ei quis quot mei, at has agam vitae meliore.</p>
    </div>
<h3>Lorem ipsum <span> dolor</span> sit<span> amet</span></h3>
    <div class="box"><img class="leftImg" src="internal/img2.jpg" alt="" />
        <p>Fusce viverra, velit vel tincidunt accumsan, neque ante posuere nunc, quis egestas turpis velit ut purus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nisi purus, varius vitae dignissim sed, faucibus nec nibh. In vestibulum tortor eu metus vulputate condimentum. Donec imperdiet nisi vel nisl fringilla a imperdiet tortor mollis. Nulla non enim felis. Cras non nulla lacus, vel luctus velit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nullam euismod enim sed velit adipiscing a sodales massa auctor.</p>
    </div>

</wicket:extend>